<nav class="nav flex-column">
  <a class="nav-link active" aria-current="page" href="#">Active</a>
  <a class="nav-link" href="JavaScript:void(0)" data-bs-toggle="modal" data-bs-target="#modalBases">Bases</a>
  <a class="nav-link" href="JavaScript:void(0)" data-bs-toggle="modal" data-bs-target="#modalAviso">Aviso</a>
  <a class="nav-link disabled" aria-disabled="true">Disabled</a>
</nav>




<!-- Modal bases-->
<div class="modal fade" id="modalBases" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content altoMinimo">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Bases</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Aviso-->
<div class="modal fade" id="modalAviso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content altoMinimo">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Aviso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
